<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/main/search']"><img src="../assets/images/logo_voter_portal.png" class="img-responsive" width="190px"></a>
  </div>
  <!-- /.navbar-header -->
  <ul class="nav navbar-top-links navbar-right">
      <li><a [routerLink]="['/main/search']" title="Home"><i class="fa fa-search fa-faw"></i></a></li>
      <li><a (click)="print()" title="Print docs"><i class="fa fa-file fa-faw"></i></a></li>
      <li *ngIf='rLeader!="limits" && rLeader!= "area" && rLeader!="booth"'>
          <a [routerLink]="['/main/reports']" title="Reports"><i class="fa fa-bar-chart-o fa-faw"></i></a></li>
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="User info">
              <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li>
                  <a href="#" id="username"><i class="fa fa-user fa-fw"></i>
                {{userName}} </a>
              </li>

              <li class="divider"></li>
              <li>
                  <a (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
              </li>
          </ul>
          <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
  </ul>
 
  <!-- /.navbar-static-side -->
  <!-- /.navbar-static-side -->
</nav>