<!DOCTYPE html>
<html lang="en">
<body>
    <h1> Login Successful.. Maintaining session <%= status %> </h1>

    <form role="form" action="/api/voterpulse/users/logout" method="post">
        <input type="submit" class="btn btn-block btn-warning " name="Go" id="go" value="Logout">
    </form>
</body>
</html>