<div class="modal-body">
  <form  [formGroup]="mediaForm">
 

    <div class="form-group row">
        <label>Media Type</label>
        <input type="text" class="form-control" id='m_cat'  
        [(ngModel)]="media.mediaCategory" name="mediaCategory" [ngModelOptions]="{standalone: true}"        
        required="required" autofocus>       
    </div>
    <div class="form-group row">
        <label>Media Name</label>
        <input type="text" class="form-control" id='m_name' 
        [(ngModel)]="media.mediaName" name="mediaName" [ngModelOptions]="{standalone: true}"  
        required>
    </div>

    <div class="form-group row">
        <label>Contact Person Name</label>
        <input type="text"  class="form-control" id='m_person' 
        [(ngModel)]="media.name" name="name" [ngModelOptions]="{standalone: true}"  
        required>
    </div>

    <div class="form-group row">
        <label>Contact Number</label>
        <input type="text"  class="form-control" id='m_contact' 
        [(ngModel)]="media.contactNumber" name="contactNumber" [ngModelOptions]="{standalone: true}"  
        required>
    </div>

    <div class="form-group row">
        <label>Email Id</label>
        <input type="email" class="form-control" id='m_email'
        [(ngModel)]="media.emailId" name="emailId" [ngModelOptions]="{standalone: true}"  
        required>
    </div>
      
</form>
</div>

<div  style="text-align: center;">
<button type="button" class="btn btn-primary" (click)="saveMedia(media)">Save</button>
<input type="reset" name="reset" value="Reset" (click)="reset()" class="btn btn-default" >
</div>


 